body {
  background-color: #eee;
  margin-bottom: 30px; }

h3 {
  margin-top: 2px; }

.mdl-card.mdl-shadow--2dp {
  width: 100%; }

.mdl-card .mdl-card__supporting-text {
  margin-top: 20px; }
  .mdl-card .mdl-card__supporting-text p {
    font-size: 17px; }

.mdl-card .fa-tint {
  color: #03a9f4;
  font-size: 40px; }

.mdl-card .value {
  font-size: 60px;
  font-weight: 700; }

.humidity .mdl-card__title {
  background-color: #03a9f4;
  color: white; }
