$aqua: rgb(3, 169, 244);
$bigSize: 60px;

body{
	background-color: #eee;
	margin-bottom: 30px;
}
h3{
	margin-top: 2px;
}
.mdl-card.mdl-shadow--2dp{
	width: 100%;
}
.mdl-card{
	.mdl-card__supporting-text{
		margin-top: 20px;
		p{
			font-size: 17px;
		}
	}
	.fa-tint{
		color: $aqua;
		font-size: $bigSize - 20;
	}
	.value{
		font-size: $bigSize;
		font-weight: 700;
	}
}
.humidity {
	.mdl-card__title{
		background-color: $aqua;
		color: white;
	}
}