$aqua: rgb(3, 169, 244);
$orange: rgb(255, 152, 0);
$grey: rgb(96, 125, 139);
$bigSize: 50px;

body{
	background-color: #eee;
	margin-bottom: 30px;
}
h3{
	margin-top: 2px;
}
.mdl-card.mdl-shadow--2dp{
	width: 100%;
}
.mdl-card{
	min-height: 140px;
	.mdl-card__supporting-text{
		margin-top: 10px;
		p{
			font-size: 17px;
		}
	}
	.mdl-card__title{
		.fa{
			margin-right: 5px;
		}
		.fa-tint{
			margin-top: 3px;
		}
	}
	.value{
		font-size: $bigSize;
		font-weight: 700;
	}
}
.humidity {
	.mdl-card__title{
		background-color: $aqua;
		color: white;
	}
}
.temperature{
	.mdl-card__title{
		background-color: $orange;
		color: white;
	}
	.mdl-switch.is-checked .mdl-switch__track{
		background-color: lighten($orange, 35%);
	}
	.mdl-switch.is-checked .mdl-switch__thumb{
		background-color: $orange;
	}
	.mdl-switch__ripple-container .mdl-ripple{
		background-color: lighten($orange, 5%);
	}
}
.device{
	.mdl-card__title{
		background-color: $grey;
		color: white;
	}
	.mdl-switch.is-checked .mdl-switch__track{
		background-color: lighten($grey, 35%);
	}
	.mdl-switch.is-checked .mdl-switch__thumb{
		background-color: $grey;
	}
	.mdl-switch__ripple-container .mdl-ripple{
		background-color: lighten($grey, 5%);
	}
}